body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-frame {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(173, 173, 173);
  border-radius: 20px;
  height: 750px;
  width: 500px;
  background: rgb(214, 214, 214);
}

.calculator-top {
  display: flex;
  justify-content: center;
  flex: 0;
}

.calculator-bottom {
  display: flex;
  flex-grow: 1;
  margin: 25px;
  justify-content: center;
}

/* Handles container for display of current and previous calculations */
.full-display {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  height: 200px;
  width: 450px;
  margin-top: 25px;
  border: 2px solid rgb(173, 173, 173);
}
/* Handles style for all text portions of display */
.display {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}
/* Handles display of current calculator input */
.display.current {
  flex: 1.5 0 auto;
  font-size: 54px;
}
/* Handles display of previous calculation */
.display.previous {
  flex: 1 1 auto;
  font-size: 32px;
  color:rgba(0, 0, 0, 0.50);
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 450px;
  height: 450px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

button {
  flex: 1 0 auto;
  border: 2px solid gray;
  margin: 10px;
  border-radius: 6px;
  font-size: 36px;
  max-width: 90px;
}

.hidden {
  border: transparent;
  background-color: transparent;
}